name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Test
        run: |
          npm ci
          npm run test
      - name: Archive
        uses: actions/upload-artifact@v4
        with:
          name: fluoroscopy-outline
          path: "dist/packages/*.mcpack"
