name: Release Changes

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    environment: release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run mcpack
      - name: Publish release
        run: npm run release
        env:
          REPO_PAT: ${{ secrets.REPO_PAT }}
